<div class="container">
  <div class="plain-field">
  <h1 class="find-games">Create a new listing</h1>
    <%= simple_form_for [@listing] do |f| %>
    <%= f.association :game, collection: Game.all.map { |game| [game.id, "#{game.title} - #{game.console}"]}, label_method: :second, value_method: :first, input_html: { class: "select2" } %>
      <%= f.input :condition, collection: Listing::CONDITIONS %>
      <%= f.submit "List Game", class: "button-blue"%>
    <% end %>
  </div>
</div>
