<div class="container">
  <h1>Create a new listing</h1>
  <%= simple_form_for [@listing] do |f| %>
    <%= f.association :game %>
    <%= f.input :condition, collection: Listing::CONDITIONS %>
    <%= f.submit "List Game", class: "button-blue"%>
  <% end %>
</div>
