// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body{
  background-color: #F7F7F7;
  overflow-x: hidden;
}

p {
  margin: 0px;
}

.container{
  .find-games{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: rgb(82, 82, 82);
  }
  .console-type {
    color: #F2A900;
    font-size: 13px;
    
  }
  .game-title {
    color: #65ACC9;
    font-size: 17px;
  }

  .game-description {
    font-size: 12px;
  }
}



