// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body{
  background-color: #E0E0E0;
}

.container{
  h1{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: rgb(82, 82, 82);
  }
  h2 {
    color: #F2A900;
  }
  .btn{
    background-color: #65acc9;
  }
}

