// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body{
  background-color: white;
}

.container{
  .find-games{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: rgb(82, 82, 82);
  }
  h2 {
    color: #F2A900;
  }
  h5 {
    color: #65ACC9;
  }
}



