.show-game-title{
  font-size: 36px;
  margin: 0;
  position: relative;
  top: 4px;
  color: #65ACC9;
}

#list-now{
  color: rgb(82, 82, 82);
}

.game-information{
  background-color: #fff;
}

#available-listing{
  background-color: #fff;
}

.available-listing-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}