  <!-- Footer Elements -->

  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/bogdanmatei90", :target => "_blank" do %>
          <i class="fab fa-linkedin-in"> </i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/taisei-yamada-b16214161", :target => "_blank" do %>
          <i class="fab fa-linkedin-in text-danger"> </i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/noah-thorne-262478112/", :target => "_blank" do %>
          <i class="fab fa-linkedin-in text-success"> </i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/edward-blundell-65197a104/", :target => "_blank" do %>
          <i class="fab fa-linkedin-in text-warning"> </i>
        <% end %>
      </li>
    </ul>
    <p class="footer-copyright text-center py-3">© Created by Ronpa Team - LeWagon Batch 310</p>
  </div>

  <!-- Copyright -->
<!-- Footer -->
