<!-- Footer Elements -->

<div class="footer-main">
  <div  class="container d-flex align-items-end justify-content-around">



  <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/bogdanmatei90", :target => "_blank" do %>
          <i class="fab fa-linkedin"> </i>
        <% end %>
         B. Matei
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/taisei-yamada-b16214161", :target => "_blank" do %>
          <i class="fab fa-linkedin text-danger"> </i>
        <% end %>
         T. Yamada
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/noah-thorne-262478112/", :target => "_blank" do %>
          <i class="fab fa-linkedin text-success"> </i>
        <% end %>
         N. Thorne
      </li>
      <li class="list-inline-item">
        <%= link_to "https://www.linkedin.com/in/edward-blundell-65197a104/", :target => "_blank" do %>
          <i class="fab fa-linkedin text-warning"> </i>
        <% end %>
         E. Blundell
      </li>
    </ul>
    <p class="footer-copyright text-center py-3">© Created by Ronpa Team - LeWagon Batch 310</p>
  </div>
</div>

  <!-- Copyright -->
<!-- Footer -->
