<div class="container">
  <div class="row">
    <% @games.each do |game| %>
      <div class="card col-lg-3 col-md-6 col-sm-9 col-xs-12">
        <p><%=link_to game.title, game_path(game) %></p>
        <p><%=game.description %></p>
        <p><%=game.console %></p>
      </div>
    <% end %>
  </div>
</div>
