.home-banner {
  background-image: url('images/banner.png');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.show-banner {
  width: 100vw;
  height: 30vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
  background: #F7F7F7;
}

.index-banner{
  width: 100vw;
  height: 100vh;
  position:  relative;
  top: -200px;
  filter: brightness(70%);
}