.button-blue {
  height: 37px;
  border: 2px solid #65ACC9;
  color: #65ACC9;
  font-weight: bolder;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
  background-color: transparent;
}

.button-blue:hover {
  text-decoration: none;
  background-color: rgba(192, 234, 249, 0.5);
  color: #65ACC9;
  border: 2px solid #65ACC9;
}

.button-orange {
  height: 37px;
  border: 2px solid #FFC056;
  color: #FFC056;
  font-weight: bolder;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
  background-color: transparent;
}

.button-orange:hover {
  text-decoration: none;
  background-color: rgba(255, 240, 214, 0.5);
  color: #FFC056;
  border: 2px solid #FFC056;
}

.btn-swap{
  padding: 1px 10px;
}

.btn{
background-color: #65ACC9;
  color: rgb(252, 252, 252);
  transition-duration: 0.2s;
  &:hover{
  background-color: #FFC057;
  border-color: #FFC057;
  color: white;
  }
  background-color: #65ACC9;
  border: 2px solid #65ACC9;
  color: white;
}

.btn-red {
  background-color: #FF6832;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 13px;
  filter: brightness(1);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 2px solid white;
}

.btn-red:hover {
  background-color: white;
  color: #FF6832;
  text-decoration: none;
  border: 2px solid #FF6832;
}

.carousel-btn {
  position: absolute
}
