.button-blue {
  height: 37px;
  background-color: #65ACC9;
  color: white;
  font-weight: bolder;
  border-radius: 4px;
  padding: 6px;
  transition: 0.7s;
}

.button-blue:hover{
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgb(172, 220, 240);
  color: rgb(172, 220, 240);
  border-radius: 4px;
}

.btn{
background-color: #65ACC9;
  color: rgb(252, 252, 252);
  &:hover{
  background-color: rgb(126, 182, 204);
  color: white;
  }
}
