.button-blue {
  width: 100px;
  height: 37px;
  border: 2px solid #65ACC9;
  color: #65ACC9;
  font-weight: bolder;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
  background-color: transparent;
}

.button-blue:hover {
  text-decoration: none;
  background-color: rgba(192, 234, 249, 0.5);
  color: #65ACC9;
  border: 2px solid #65ACC9;
}

.button-orange {
  width: 100px;
  height: 37px;
  border: 2px solid #FFC056;
  color: #FFC056;
  font-weight: bolder;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  transition: 0.3s;
  background-color: transparent;
}

.button-orange:hover {
  text-decoration: none;
  background-color: rgba(255, 240, 214, 0.5);
  color: #FFC056;
  border: 2px solid #FFC056;
}

.btn{
background-color: #65ACC9;
  color: rgb(252, 252, 252);
  &:hover{
  background-color: rgb(126, 182, 204);
  color: white;
  }
  background-color: #65ACC9;
  border: 2px solid #65ACC9;
  color: white;
 }

.btn-red {

  background-color: #FF6832;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 13px;
  filter: brightness(1);
}

.btn-red:hover {
  background-color: #ff5317;
  color: white;
  text-decoration: none;
}

.carousel-btn {
  position: absolute
}
