.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  width: 320px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px;
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.listing-card-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.card-swaps {
  background-color: #F7F7F7;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-dashboard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #F7F7F7;
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 360px;
  box-sizing: 0;
  display: inline-block;
  width: max-content;
}

.dashboard-image {
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dashboard img{
  position:absolute;
  left: 88px;
  top: 59px;
  height: 200px;

}

.user-details {
  margin: 8px;
  text-align: left;
}

.outer {
  left: 236px;
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width:100%;
  height: 60%;
  background: gray;
  top: 20%;
  box-shadow: 0px 0px 30px 20px gray;
  opacity: 0.2;
}

#underline-title {
  margin-bottom: 32px;
}

.card-active-swaps {
  position: relative;
  border: 1px solid red;
  height: 150px;
  margin-left: 320px;
  width: 60%;
}

.card-active-swaps img {
  position: absolute;
  height: 100%;
}

.swap-card {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.card{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.request-card{
  list-style: none;
  padding: 0;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 0;  
}

.card-cover-image{
  margin: 0;
}

.console-type{
  color: #F2A900;
}

.card-product img {
  height: 100%;
  width: 90px;
  object-fit: cover;
}

.card-product h5 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
