#exchange-arrow{
  color: #525252;
}

.star-yellow{
  color: #FFC057;
}

.star-black{
  color: #585858;
}

#add-plus{
  color: #FFC057;
}

.swap-icon-requests {
  height: 100px;
  width: 50px;
  margin: 0;
  text-align: center;
  color: #F2A900;
}

.swap-icon-offers {
  height: 100px;
  width: 50px;
  margin: 0;
  text-align: center;
  color: #65ACC9;
}
