
.carousel-inner {
  /* make sure your .items will get correct height */
  height: 500px;
}

.carousel-item {
  height: 100%;
  filter: brightness(90%);
}

.carousel-item img {
  object-fit: cover;
  object-position: 50% 18%;
  height: 100%;
}

.card-landing {
  position: relative;
  height: 240px;
  width: 240px;
  margin: 8px;
  text-align: center;
  border-radius: 4px;
}


.card-landing h4 {
  color: #282923;
  letter-spacing: 2px;
  font-weight: bolder;
}

.card-landing i {
  font-size: 80px;
  margin: 8px;
  color: #FF6832;
}
