@import url('https://fonts.googleapis.com/css?family=Teko|Wallpoet&display=swap');


body{
  color: #F2A900;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  h1{
    font-family: 'Teko', sans-serif;
    color: rgb(82, 82, 82);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
