@import url('https://fonts.googleapis.com/css?family=Teko|Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

.navbar-lewagon {
  justify-content: space-between;
  background: #FFF;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  z-index: 2;
  h1{
    font-family: 'Teko', sans-serif;
    color: rgb(82, 82, 82);
    letter-spacing: 2px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  margin: 5px;
  color: #65ACC9;
  font-family: 'Heebo', sans-serif;
  transition-duration: 0.2s;
}

.nav-link:hover {
  text-decoration: none;
  color: #F2A900;
}

.navbar-lewagon-white {
  background-color: white;
}

#logo {
  width: 200px;
}



// logo with js
@import url('https://fonts.googleapis.com/css?family=Bevan');
.logo-navbar {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  --duration: .9s;
  letter-spacing: 4px;
  padding-bottom: 0;
}

.logo-navbar .char {
  animation-name: char-transform;
  animation-duration: calc(var(--duration));
  animation-fill-mode: both;
  animation-delay: calc(var(--duration) + .05s * (var(--char-total) - var(--char-index)));
  text-shadow: 0 3vh 4vh rgba(black, 0.03);

  &:first-child {
    animation-name: first-char-transform;
    animation-duration: calc(var(--duration) * 2);
    animation-delay: 0s;
  }
}


@keyframes char-transform {
  0% { opacity: 0; transform: translateY(50%); }
  70% {
    transform: translateY(-6%);
  }
  90% {
    transform: translateY(1%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes char-rotate {
  0% { transform: rotate(30deg); }
  30% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes first-char-transform {
  0% {
    transform: translateX(calc(.75ch * var(--char-total))) translateY(200%);
  }
  40% {
    transform: translateX(calc(.75ch * var(--char-total))) translateY(-10%);
  }
  60% {
    transform: translateX(calc(.75ch * var(--char-total))) translateY(7%);
  }
  100% {
    transform: none;
  }
}

@keyframes first-char-rotate {
  0% {
    transform: rotate(.5turn);
  }
  40% {
    transform: rotate(-.1turn);
  }
  70% {
    transform: rotate(.1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

//logo end

