.your {
  color: #F2A900;
}

.their {
 color: #65ACC9;
}

.find-games-swap{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: rgb(82, 82, 82);
}

.blue-text {
  color: #65ACC9 !important;
}

.user-details h2 {
  color: #F2A900;
}

.user-details h5 {
  color: #65ACC9;
}
